.cardContainer{
    background-image: url("../Images/a.jpg");
    border-color: rgb(13, 149, 13);
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 15px 15px 24px 0px rgba(0,0,0,0.65);
}

h2{
    color: rgb(91, 196, 56);
    -webkit-text-stroke: 2px black;
    margin: 5px;
}
body{
    background-image: url("../Images/b42a6919f78c89e2221c399ce141a209.jpg");
}

.closeButton{
    background-color: rgb(61, 10, 120);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

.name{
    font-size: 150%;
    color: rgb(210, 69, 203);
}

.image{
    border-radius: 40px;
}